---
const projects = [
  {
    name: "Adech",
    logo: "/adech-logo.svg",
    href: "https://adechthemes.vercel.app/",
    desc: 'Color ecosystem.',
    tech: [
      { name: "HTML", icon: "brand-html5", color: "text-adech-sunny-2" },
      { name: "CSS", icon: "brand-css3", color: "text-adech-boulevard-3" },
      { name: "JavaScript", icon: "brand-javascript", color: "text-adech-sunny-1" },
      { name: "Tailwind", icon: "brand-tailwind", color: "text-adech-boulevard-1" },
      { name: "React", icon: "brand-react", color: "text-adech-boulevard-3" },
      { name: "NPM", icon: "brand-npm", color: "text-adech-sunny-3" },
    ],
  },
  {
    name: "Leggiamo",
    logo: "/leggiamo-icon.svg",
    href: "https://adechlien.blog/",
    desc: "Read my thoughts.",
    tech: [
      { name: "HTML", icon: "brand-html5", color: "text-adech-sunny-2" },
      { name: "CSS", icon: "brand-css3", color: "text-adech-boulevard-3" },
      { name: "JavaScript", icon: "brand-javascript", color: "text-adech-sunny-1" },
      { name: "TypeScript", icon: "brand-typescript", color: "text-adech-boulevard-4" },
      { name: "Tailwind", icon: "brand-tailwind", color: "text-adech-boulevard-1" },
      { name: "Astro", icon: "brand-astro", color: "text-adech-sunny-3" },
    ],
  },
];
---

<section class="tab-panel hidden w-full flex-col gap-2 overflow-hidden" data-tab-panel="projects">
    <h2 class="text-xl font-bold uppercase">Projects</h2>
    <div class="flex flex-col gap-2">
      {projects.map((project) => (
        <a href={project.href} target="_blank" rel="noreferrer" class="group flex items-center gap-2 bg-adech-swamp-2 p-2 rounded-lg">
            <img src={project.logo} alt={`${project.name} logo`} class="h-12 w-12 object-contain" />
            <div class="flex flex-col items-start w-full text-left text-adech-boulevard-2">
                <h4 class="text-lg font-semibold">{project.name}</h4>
                <p class="text-sm text-adech-boulevard-4">{project.desc}</p>
                <div class="flex flex-wrap self-end text-right justify-center gap-2 text-xl mt-2">
                    {project.tech.map((item) => (
                        <i class={`ti ti-${item.icon} ${item.color}`}></i>
                    ))}
                </div>
            </div>
        </a>
        ))}
    </div>
</section>
