---
const frontend = ["html5", "css3", "javascript", "typescript", "tailwind", "react", "astro"];
const tools = ["git", "docker", "figma", "adobe-illustrator"];

const techColors : Record<string, string> = {
  html5: "text-adech-sunny-2",
  css3: "text-adech-boulevard-3",
  javascript: "text-adech-sunny-1",
  typescript: "text-adech-boulevard-4",
  tailwind: "text-adech-boulevard-1",
  astro: "text-adech-sunny-3",
  react: "text-adech-boulevard-3",
  git: "text-adech-sunny-3",
  docker: "text-adech-boulevard-4",
  figma: "text-adech-venomous-5",
  "adobe-illustrator": "text-adech-sunny-2",
};

const getColor = (key : any) => techColors[key] ?? "#9ac0ff";
---

<section class="tab-panel hidden w-full flex-col gap-2 overflow-hidden"  data-tab-panel="skills">
  <h2 class="text-xl font-bold uppercase">Skills</h2>
  <div class="flex flex-col h-full gap-3 text-adech-boulevard-3">
    <div class="flex flex-col justify-center gap-1">
      <p class="text-sm font-medium text-adech-boulevard-3">Frontend</p>
      <div class="flex flex-wrap items-center gap-1">
        {frontend.map((s) => (
          <i class={`ti ti-brand-${s} text-3xl transition duration-300 hover:brightness-110 ${getColor(s)}`} style={`color: ${getColor(s)}`}></i>
        ))}
      </div>
    </div>
    <div class="flex flex-col justify-center gap-1">
      <p class="text-sm font-medium text-adech-boulevard-3">Tools</p>
      <div class="flex flex-wrap items-center gap-1">
        {tools.map((s) => (
          <i class={`ti ti-brand-${s} text-3xl transition duration-300 hover:brightness-110 ${getColor(s)}`} style={`color: ${getColor(s)}`}></i>
        ))}
        <!-- <img src="n8n-logo.svg" alt="N8N Logo" class="w-12" /> -->
      </div>
    </div>
  </div>
</section>
